.hidden {
  display: none;
}

img {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 80px;
}

#clock {
  text-align: center;
}

#greeting {
  /* text-align: center; */
  justify-content: center;
  display: flex;
  /* top: 0vh; */
  position: relative;
}

#quote {
  justify-content: center;
  display: flex;
  top: 60vh;
  position: relative;
}